img {
  max-width: 100%;
  border-radius: 50%;
  z-index: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2b46;
}

.wrapper {
  max-width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: white;
  padding: 15px;
  position: relative;
  z-index: 11;
  background-color: white;
  overflow: hidden;
  transition: all 4s;
  cursor: pointer;
}

.wrapper::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(242, 8, 225, 1) 0%, rgba(85, 55, 244, 1) 67%, rgba(7, 78, 254, 1) 100%, rgba(0, 31, 255, 1) 100%);
  top: 125px;
  left: -10%;
  z-index: -1;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper:hover .hover-content {
  display: flex;
}
.wrapper:hover img {
  filter: blur(3px);
}
.hover-content {
  background-color: rgba(255, 255, 255, 0.162);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  display: none;
}
.hover-content h3 {
  font-size: 30px;
}

.hover-content span {
  font-size: 19px;
  font-weight: bold;
}
.hover-content button {
  background-color: aquamarine;
  padding: 10px 20px;
  border: 1px solid #2c2b46;
}
